<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<!-- Measured in kilobytes -->
			<httpRuntime maxRequestLength="1048576" />
		</system.web>
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Toltek.Platform.Empty.dll" stdoutLogEnabled="true"
			  stdoutLogFile="..\..\logs\storage\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Afsu" />
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
				</environmentVariables>
			</aspNetCore>
			<security>
				<requestFiltering>
					<!-- Measured in Bytes -->
					<requestLimits maxAllowedContentLength="1073741824" />
					<!-- 1 GB-->
				</requestFiltering>
			</security>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
					<add name="Strict-Transport-Security" value="max-age=31536000" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration> 